<div class="section-info">
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <modal-reddem></modal-reddem>
                </div>
            </div>
        </div>
    </div>
    <div class="container-section-info">
        <div type="button" class="pt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <section role="button" class="crack pointer width-90 m-auto style-radius">
                <div class="row me-0 ms-0 d-flex border-rad">
                    <div class="col item-crack align-self-center pt-2 pb-2">
                        <p class="mb-0">Crack</p>
                    </div>
                    <div class="col align-self-center">
                        <img class="width-info" src="./../img/icon-infor.png" alt="">
                    </div>
                </div>
                <div class="row me-0 ms-0 w-100">
                    <div class="col-12 align-self-center item-text">
                        <p class="mb-0">Conoce más aquí</p>
                    </div>
                </div>
            </section>
        </div>
        <section class="section-invite pt-4">
            <div class="widtht-85 m-auto">
                <div class="row d-flex me-0 ms-0 align-items-center radius-switch">
                    <div role="button" ng-class="{colores:$ctrl.week}" ng-click="$ctrl.setAtribu()"
                        class="padding-div col-6 text-center align-self-center section-selected">
                        <p class="mb-0 ">Este mes</p>
                    </div>
                    <div role="button" ng-class="{colores:$ctrl.all}" ng-click="$ctrl.setAtribu()"
                        class="padding-div col-6  text-center align-self-center">
                        <p class="mb-0">Todo</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-referidos pt-4">
            <div ng-if="$ctrl.week" class="card-referidos width-90 m-auto mb-5">
                <div class="row me-0 ms-0">
                    <div class="col text-start mb-4">
                        <span><img src="./../img/download-solid1.svg" alt=""></span>
                        <span class="total-referidos">Total referidos: </span><span
                            class="text-white fw-bold fs-3">0</span>
                    </div>
                    <div class="row w-100 m3-0 ms-0"></div>
                    <div class="col-7 text-start">
                        <span class="bonificacion-total">Bonifocación COP </span><span><img src="./../img/icon-info-transparent.png" alt=""></span><br>
                        <!-- <span class="text-white"><img src="./../img/Ellipse_103.svg" alt=""></span> -->
                        <span class="text-white fw-bold fs-3">$500<span
                                class="bonificacion-total">/referidos</span></span>
                    </div>
                    <div class="col-5 text-start">
                        <span class="bonificacion-total">Total COP </span><span><img src="./../img/icon-info-transparent.png" alt=""></span><br>
                        <span class="text-white fw-bold fs-3">$0</span>
                    </div>
                </div>
            </div>
            <div class="row me-0 ms-0">
                <div class="col-12 strong-text">
                    <p>¡Aún no tienes referidos!</p>
                </div>
                <div class="col-12 light-text">
                    ¡Cuentale a tus amigos de MotoSmart
                </div>
            </div>
            <div ng-if="$ctrl.all" class="pt-4 text-center margin-auto">
                <img src="./../img/Refeefriend.png" alt="">
            </div>
            <div ng-if="$ctrl.week" class="pt-4 text-center margin-auto">
                <img class="img-referidos-width" src="./../img/reformoto.png" alt="">
            </div>
            <div class="pt-4">
                <button class="button-referidos">Invitar referidos</button>
            </div>
        </section>
        <section class="cards-links mt-5 width-95 me-auto ms-auto">
            <div class="card-link box-shadow1 pt-1 pb-1">
                <div class="row me-0 ms-0">
                    <div class="col-10 text-start">
                        <div class="row me-0 ms-0">
                            <div class="col-12 icon-card-link">
                                <img src="./../img/img-link.svg" alt="">
                            </div>
                            <div class="col-12">
                                <p class="title-card-link">Copiar enlace</p>
                                <p class="text-card-link">Copia y comparte tu enlace en tus redes sociales para que tus
                                    amigos moteros se unan a MotoSmart</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <img src="./../img/arrow-right.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="card-link box-shadow2 m-0 mt-3 pt-1 pb-1">
                <div class="row me-0 ms-0">
                    <div class="col-10 text-start">
                        <div class="row me-0 ms-0">
                            <div class="col-12 icon-card-link">
                                <img src="./../img/icon-whatsapp.svg" alt="">
                            </div>
                            <div class="col-12">
                                <p class="title-card-link">Compartir por WhatsApp</p>
                                <p class="text-card-link">
                                    Comparte tu enlace en la app de WhatsApp, cuentales a tus amigos de MotoSmart e
                                    invitalos a ser parte de la comunidad motera mas grande de colombiaCopia y comparte
                                    tu enlace en tus redes sociales para que tus amigos moteros se unan a MotoSmart
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <img src="./../img/arrow-right.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>