.section-info {
    background-color: #F5F6F7;
    font-family: Avenir;
}

.section-info .item-crack {
    /* text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: -webkit-linear-gradient(#FFD500, #FF2800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-crack p {
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.6);
}

.section-info .item-text {
    color: #686E7F;
    font-size: 11.599px;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7.733px 0px 7.093px 0px;
    background-color: #ECEDF1;
    border-radius: 0px 0px 19.331px 19.331px;
    border: 0.967px solid #ECEDF1;

}

.section-info .style-radius {
    /* border-radius: 19.331px;
    border: 0.967px solid #FFF;
    background: #f8f9fa!important; */
    border-radius: 19.331px;
    border: 0.1px solid #ECEDF1;
    background: #FFF;
    box-shadow: 0px 9px 9px -7px rgba(0, 0, 0, 0.75);

}

.width-info {
    height: 27px;
    width: 27px;
}

.widtht-85 {
    width: 85%;
}

.section-info .border-rad {
    border-radius: 50px 50px 0px 0px;

}

.section-info .section-invite .radius-switch {
    color: orange;
    border-radius: 50px;
    border: 1px solid #FF7400;

}

.style-active {
    border-radius: 50px;
    background-color: #FF7400;
}

.colores {

    border-radius: 50px;
    background-color: #FF7400;
    padding: 5px 60px;

    color: #FFF;
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
}

.default-color {
    color: orange;
}

.strong-text {
    color: #686E7F;
    text-align: center;
    font-size: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
}

.light-text {
    color: #686E7F;
    text-align: center;
    font-size: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button-referidos {
    display: inline-flex;
    padding: 10px 90px;
    color: white;
    align-items: flex-start;
    text-align: center;
    font-family: Avenir;
    font-size: 14px;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
    gap: 10px;
    border-radius: 5px;
    background-color: #FF7400;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
}

.img-referidos-width {
    max-width: 300px;
}

.card-referidos {
    /* width: 319px; */
    height: 160px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(134deg, #FFD500 0%, #FF2800 100%);

}

.card-referidos .total-referidos {
    color: #FFF;
    font-size: 14px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 350;
    line-height: 20px;
}

.card-referidos .bonificacion-total {
    color: #FFF;
    font-size: 14px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    line-height: 23px;
}

.card-link {
    border-radius: 5px;
    border: 0.5px solid #FFF;
    background-color: #FFF;
}

.cards-links .box-shadow1 {
    /* box-shadow: -20px -20px 4px 0px rgba(0, 0, 0, 0.15); */
}

.cards-links .box-shadow2 {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.cards-links .card-link .title-card-link {
    color: #686E7F;
    font-size: 14px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 850;
    line-height: normal;
}

.cards-links .card-link .text-card-link {
    color: #686E7F;
    font-size: 12px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 350;
    line-height: 17px;
}